html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyers Reset Method. */


/* 
Notes:
Use vh, vw for dynamic text based on responsive screen size.
 */










:root {
    font-family: 'Righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    background: url("galaxy.png") no-repeat center center fixed;
    background-size: cover;
    height: 95vh;
    width: 95vw;
}

.hero-div {
    height: 15rem;
    background-color: rgb(221, 163, 255);
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 36vh;
    width: 100%;
}

.logo-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    left: 20px;
}

#logo-img img {
    position: relative;
    width: 7rem;
    height: 9rem;
    margin-left: 20px;
}

#logo-header header {
    position: relative;
    font-size: 2.9rem;
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;
    width: 100vw;
}

.form-section {
    display: flex;
    flex-direction: column;
    max-width: 65vw;
}

#form-section-1,
#form-section-2,
#form-section-3 {
    padding: 0 3rem 3rem 2rem;
}

#form-section-1 {
    padding-top: 5vh;
    box-shadow: 0 15px 6px -6px rgb(54, 54, 54);
    position: relative;
    z-index: 99;
}

#form-section-1,
#form-section-2 {
    height: 30vh;
}

#form-section-1 p,
#form-section-2 p {
    font-size: 2.2rem;
    line-height: 2rem;
    margin-top: 2rem;
    overflow: hidden;
}
#form-section-1, 
#form-section-3 {
    background: rgb(221, 235, 237);
    opacity: 0.9;
}

#form-section-2 {
    box-shadow: 0 15px 6px -6px rgb(54, 54, 54);
    background: rgb(245, 245, 245);
    height: 31.5vh;
    overflow: hidden;
    margin-top: 0.1rem;
    position: relative;
    z-index: 9;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.8vh;
    gap: 5px;
}

#sign-up-form > div {
    margin-top: 1vh;
    max-height: 100%;
}

input {
    display: block;
    width: 17vw;
    height: 2.3vh;
    padding: .15rem 1rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
}

input:focus {
    outline: none;
    border-color: rgb(88, 88, 255);
    box-shadow: 0 5px 5px rgb(88, 88, 255);
}

label {
    display: block;
    padding-bottom: 0.25rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}

label:after {
    content: " *";
}

#form-section-3 {
    margin-top: 0.1rem;
}

#form-section-3 button,
#form-section-3 p {
    margin-top: 2rem;
    font-size: 1rem;
}

#submit-button button {
    background-color: rgb(13, 180, 144);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 7px;
    padding: 0.8rem;
    color: white;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
}

#form-section-3 #log-in {
    margin-top: 3rem;
}

#form-section-3 p span {
    color: rgb(13, 180, 144);
}

#submit-button button,
#log-in #log-in-text {
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
    }
    body {
        width: 100%;
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -4rem;
    }
    .hero-div {
        height: 9vh;
        background-color: black;
        opacity: 0.7;
        position: absolute;
        z-index: -999;
        width: 100%;
        top: 0;
    }
    #logo-img img {
        width: 4rem;
        height: 4.7rem;
    }
    .form-section {
        width: 100%;
        margin-top: 2rem;
    }
    #form-section-1 p,
    #form-section-2 p {
        display: block;
        text-align: center;
        font-size: 3.3vw;
        line-height: 1.2rem;
        overflow: hidden;
        margin: -10px 0;
        height: 100%;
    }
    #form-section-1,
    #form-section-3 {
        height: 25vh;
        width: 100%;
    }
    #form-section-2 {
        height: 30vh;
        width: 100%;
        padding-top: 1rem;
        overflow: hidden;
    }
    #sign-up-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        margin-left: 1rem;
    }
    #form-text {
        margin-top: 1rem;
    }
    input {
        width: 20vw;
        height: 2.6vh;
        margin: 0.2rem 0;
        padding-left: 0.5rem;
        font-size: 0.7rem;
    }
    label {
        font-size: 1.5vw;
    }

}