html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyers Reset Method. */


/* 
Notes:
Use vh, vw for dynamic text based on responsive screen size.
 */










:root {
    box-sizing: border-box;
    font-family: 'Righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

html {
    background: url("galaxy.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
}

.hero-div {
    /* height: 10rem; */
    /* width: 100%; */
    height: 15rem;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 40%;
    background-color: rgb(72, 72, 72);
    opacity: 0.5;
}

#logo-img img {
    position: absolute;
    width: 7rem;
    height: 9rem;
    top: 45%;
    left: 3%;
}

#logo-header header {
    width: 100%;
    position: absolute;
    top: 53%;
    left: 10rem;
    font-size: 1.9rem;
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;
    height: 100%;
    height: 100vh;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-left: calc(25vw + 11rem);
}

#form-section-1,
#form-section-2,
#form-section-3 {
    padding: 0 3rem 3rem 2rem;
}

#form-section-1 {
    padding-top: 8rem;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
}

#form-section-1 p,
#form-section-2 p {
    font-size: 2rem;
    line-height: 2rem;
}
#form-section-1, 
#form-section-3 {
    background: rgb(238, 252, 255);
    height: 100vh;
    opacity: 0.8;
}

#form-section-2 {
    margin-top: 0.3rem;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
    background: rgb(250, 250, 250);
}

#form-text {
    margin-top: .5rem;
}

#sign-up-form {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5rem;

}

input {
    display: block;
    width: 22rem;
    height: 1.3rem;
    padding: .15rem;
    margin: 0 3rem 1rem 0;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
}

input:focus {
    outline: none;
    border-color: rgb(88, 88, 255);
    box-shadow: 0 5px 5px rgb(88, 88, 255);
}

label {
    display: block;
    margin-bottom: 0.25rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}

label:after {
    content: " *";
}

#form-section-3 {
    margin-top: 0.3rem;
}

#form-section-3 button,
#form-section-3 p {
    margin-top: 2rem;
    font-size: 1rem;
}

#submit-button button {
    background-color: rgb(13, 180, 144);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 7px;
    padding: 0.5rem;
    color: white;
    box-shadow: 0 8px 6px -6px rgb(54, 54, 54);
}

#form-section-3 #log-in {
    margin-top: 5rem;
}

#form-section-3 p span {
    color: rgb(13, 180, 144);
}

#submit-button button,
#log-in #log-in-text {
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    #logo-img img{
        position: absolute;
        top: 0;
        left: 20%;
        margin-top: 0.3rem;
        height: 9vh;
        width: 5.5rem;

    }
    #logo-header header {
        position: absolute;
        top: 0.5%;
        left: 40%;
        margin-top: 2rem;
        font-size: 2rem;
        color: white;
        white-space: nowrap;
    }
    .form-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 10vh;
    }
    .container {
        width: 100%;
    }
}